*{
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(194, 194, 194);
    height: 100px;
    width: 100%;
    margin-bottom: 3px solid black;
    box-shadow: 0 0 5px black;
}



.Logo{
    width: 156px;
}



a{
    text-decoration: none;
    color: black;
    background-color: gray;
}
/* 
container{
    background: rgb(0, 0, 0);
    height: 100%;
    width: 80%;
    margin: 0 auto;
}  */

.lateral h1{
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    width: 345px;
    margin-top: 8px;
    
} 

celular{
    width: 180px;
    margin-top: 10px;
}

/* .quadrado{
    background-color: papayawhip;
    width: 175px;
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.quadrado ul li{
    text-decoration: none;
}  */

.lateral{
    background-color: beige;

}

.quadrado h1{
    font-size: 18px;
}

.quadrado h2{
    font-size: 18px;
}

.quadrado h3{
    font-size: 18px;
    color: gray;
}

.quadrado h4{
    color: rgb(117, 216, 117);
}

button a{
    background-color: rgb(173, 173, 173);
}

button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: rgb(173, 173, 173);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 600px;
}

button:hover {
    padding: 10px 20px;
    background-color: rgb(173, 173, 173);
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-right: 20px;
    transform: scale(1.10);
    transition-delay: 0,2s;
}

button a{
    background-color: rgb(173, 173, 173);
}

button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: rgb(173, 173, 173);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-right: 20px;
}

button:hover {
    padding: 10px 20px;
    background-color: rgb(173, 173, 173);
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-right: 20px;
    transform: scale(1.10);
    transition-delay: 0,2s;
}

.voltar a{
    margin-top: 10px;
    margin-left: 20px;
}

.iphone{
    width: 180px;
    margin-top: 5px;
}

.quadrado2{
    background-color: papayawhip;
    width: 175px;
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.nome h1{
    margin-top: 10px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    width: 250px
}

.quadrado2 h2{
    font-size: 18px;
}

.quadrado2 h3{
    color: rgb(117, 216, 117);
    
}

.quadrado2 h4{
    font-size: 18px;
    color: gray;
}